
@font-face {
    font-family: samim;
    src: url(../font/Samim-Medium-FD.woff2) format(woff2);
}

body {
    height: 100%;
}
body {
    background: #3498db;
    font-family: samim;
    font-size: 12px;
    line-height: 1.3;
    width: 98%;
    margin: 0 auto;
}
.user {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#user-name,#date-now {
    font-weight: normal;
    font-size: 17px;
    margin: 0;
    padding-top: 5px;
}
#date-now {
    color: rgba(225, 255, 255, .5);
    font-size: 15px;
    letter-spacing: 1px;
}
.title-user{
    position: absolute;
    left: 20px;
}

.nav{
    display: flex;
    float: right;
    position: absolute;
    top: 15%;
    right: 20px;
    overflow: hidden;
    width: 60%;
    max-width: 280px;
    gap: 2px;
}
.nav img{
    width: 50px;
    height: 50px;
}

/* table */
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 350px;
    margin: 5% auto;
    border-radius: 10px;
    table-layout: fixed;
}
.content-table{
    border-collapse: collapse;
    font-size: small;
    width: 300px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
}
.content-table thead tr {
    background-color: #0f31a1;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.content-table th ,.content-table td {
    padding: 12px 9px;
}
.content-table tbody tr {
    border-bottom: 2px solid #dddd;
    text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

h1 {
    font-size: 20px;
    font-weight: normal;
}

h1 {
    font-size: 20px;
    font-weight: normal;
}

.send {
    text-align: center;
    width: 100%;
}

input {
    height: 20px;
    text-align: center;
    background-color: #ecf0f1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 200;
    padding: 10px 0;
    width: 80%;
    transition: border .5s;
}
input:focus {
    border: 2px solid #3498db;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498db;
    color: #ffffff;
    font-size: 15px;
    line-height: 40px;
    padding: 4px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
label {
    font-size: 15px;
    display: block;
    margin-top:30px;
    margin-bottom:10px;
}