{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پشتیبانی</title>
    <link rel="stylesheet" href="{% static "css/admin.css" %}">
</head>
<body dir="rtl">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>پنل سرپرست</h1>
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="login-form">
                    <div class="control-group">
                        <input name="username" type="text" class="login-field" value="" placeholder="نام کاربری" id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
                        <input name="password" type="password" class="login-field" value="" placeholder="کلمه عبور" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-large btn-block" >ورود</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <h5>شرکت کارا الکترونیک آریان کیش کاسپین</h5>
    </div>
</body>
</html>