{% load static %}
{% load jformat %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انبار</title>
    <link rel="stylesheet" href="{% static "css/inventory.css" %}">
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>
</head>
<body dir="rtl">
    <div class="user">
        <div class="user-navbar">
            <div class="title-user">
                <h1 id="user-name">رضا پوراصغر</h1>
                <h2 id="date-now">
                    {{ now|jformat:"%H:%M  %Y/%m/%d" }}
                    {% comment %} <script>
                    date =moment();
                    date = date.format("hh/m");
                    document.getElementById('date-now').innerHTML= date
                    </script> {% endcomment %}
                </h2>
            </div>
        </div>
    </div>
    <!-- form -->
    <div class="table">
        <h1>تابلو انبار </h1>
        <table class="content-table">
            <thead>
                <tr>
                    <th>رسید</th>
                    <th>وضعیت</th>
                    <th>سریال دستگاه</th>
                    <th>نام پشتیبان</th>
                    <th>تاریخ حواله</th>
                    <th>تاریخ رسید</th>
                </tr>
            </thead>
            <tbody>
                {% for device in all_devices %}
                    <tr>
                        
                        <td>
                            {% if device.status == "D" and not device.recepted %}
                                <a href="{% url "management:installed" device_code=device.device_code %}" class="td-button">رسید</a>
                            {% endif %}
                        </td>

                        {% if device.status == 'I' %}
                            <td>نصب</td>
                        {% elif  device.status == 'O' %}
                            <td>انصرافی</td>
                        {% elif device.status == 'D' %}
                            <td>معیوب</td>
                        {% endif %}
                        <td>{{device.device_code}}</td>
                        <td>{{ device.staff.get_full_name }}</td>
                        <td>{{ device.created_date|date:"Y/m/d"}}</td>
                        <td>{{ device.receip_date|date:"Y/m/d" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form class="send" action="">
            <h1 class="send-h1">حواله دستگاه</h1>
            <div class="send-input">
            <label for="staff-name">نام پشتیبان</label>
            <select name="staff-name" id="">
                <option value="" disabled="disabled">یک پشتیبان را انتخاب کنید</option>
                <option value="214">ایمان رفیعی</option>
                <option value="217">رضا پوراصغر</option>
                <option value="264">علی فراعی</option>
            </select>
            <label for="sn">سریال دستگاه</label>
            <input type="text" name="sn" id="">
            <button class="btn" type="submit">ثبت</button>
            </div>
        </form>
    </div>

</body>
</html>