{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/index_style.css" %}">
</head>
<body>
    <div class="container">
        <div class="app-title">
            <h1>شرکت کارا الکترونیک آریان کیش کاسپین</h1>
        </div>
        <div class="button">
            <div class="admin">
                <a href="{% url "management:inventory-page" %}"><button>پنل انبار</button></a>
            </div>
            <div class="staff">
                <a href="{% url "management:allocation-page" %}"><button>پنل ثبت و تخصیص</button></a>
            </div>
        </div>
    </div>
</body>
</html>